@font-face {
  font-family: 'coolicons';
  src:  url('fonts/coolicons.eot?mtp5vf');
  src:  url('fonts/coolicons.eot?mtp5vf#iefix') format('embedded-opentype'),
    url('fonts/coolicons.ttf?mtp5vf') format('truetype'),
    url('fonts/coolicons.woff?mtp5vf') format('woff'),
    url('fonts/coolicons.svg?mtp5vf#coolicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coolicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ci-add_to_queue:before {
  content: "\e900";
}
.ci-adobe_xd:before {
  content: "\e901";
}
.ci-airplay:before {
  content: "\e902";
}
.ci-alarm_add:before {
  content: "\e903";
}
.ci-alarm:before {
  content: "\e904";
}
.ci-app_store:before {
  content: "\e905";
}
.ci-apple:before {
  content: "\e906";
}
.ci-bar_bottom:before {
  content: "\e907";
}
.ci-bar_chart_alt:before {
  content: "\e908";
}
.ci-bar_chart_horizontal:before {
  content: "\e909";
}
.ci-bar_chart_square:before {
  content: "\e90a";
}
.ci-bar_chart:before {
  content: "\e90b";
}
.ci-bar_left:before {
  content: "\e90c";
}
.ci-bar_right:before {
  content: "\e90d";
}
.ci-bar_top:before {
  content: "\e90e";
}
.ci-behance:before {
  content: "\e90f";
}
.ci-building:before {
  content: "\e910";
}
.ci-bulb:before {
  content: "\e911";
}
.ci-calendar_calendar:before {
  content: "\e912";
}
.ci-calendar_check:before {
  content: "\e913";
}
.ci-calendar_edit:before {
  content: "\e914";
}
.ci-calendar_event:before {
  content: "\e915";
}
.ci-calendar_minus:before {
  content: "\e916";
}
.ci-calendar_plus:before {
  content: "\e917";
}
.ci-calendar_week:before {
  content: "\e918";
}
.ci-calendar_x:before {
  content: "\e919";
}
.ci-calendar:before {
  content: "\e91a";
}
.ci-caret_down:before {
  content: "\e91b";
}
.ci-caret_left:before {
  content: "\e91c";
}
.ci-caret_right:before {
  content: "\e91d";
}
.ci-caret_up:before {
  content: "\e91e";
}
.ci-cast:before {
  content: "\e91f";
}
.ci-checkbox_checked:before {
  content: "\e920";
}
.ci-checkbox_square:before {
  content: "\e921";
}
.ci-checkbox:before {
  content: "\e922";
}
.ci-chevron_big_down:before {
  content: "\e923";
}
.ci-chevron_big_left:before {
  content: "\e924";
}
.ci-chevron_big_right:before {
  content: "\e925";
}
.ci-chevron_big_up:before {
  content: "\e926";
}
.ci-chevron_down:before {
  content: "\e927";
}
.ci-chevron_duo_down:before {
  content: "\e928";
}
.ci-chevron_duo_left:before {
  content: "\e929";
}
.ci-chevron_duo_right:before {
  content: "\e92a";
}
.ci-chevron_duo_up:before {
  content: "\e92b";
}
.ci-chevron_left:before {
  content: "\e92c";
}
.ci-chevron_right:before {
  content: "\e92d";
}
.ci-chevron_up:before {
  content: "\e92e";
}
.ci-circle_check_outline:before {
  content: "\e92f";
}
.ci-circle_check:before {
  content: "\e930";
}
.ci-circle_chevron_down:before {
  content: "\e931";
}
.ci-circle_chevron_left:before {
  content: "\e932";
}
.ci-circle_chevron_right:before {
  content: "\e933";
}
.ci-circle_chevron_up:before {
  content: "\e934";
}
.ci-circle_down:before {
  content: "\e935";
}
.ci-circle_left:before {
  content: "\e936";
}
.ci-circle_right:before {
  content: "\e937";
}
.ci-circle_up:before {
  content: "\e938";
}
.ci-clock:before {
  content: "\e939";
}
.ci-close_big:before {
  content: "\e93a";
}
.ci-close_small:before {
  content: "\e93b";
}
.ci-cloud_check:before {
  content: "\e93c";
}
.ci-cloud_close:before {
  content: "\e93d";
}
.ci-cloud_down:before {
  content: "\e93e";
}
.ci-cloud_off:before {
  content: "\e93f";
}
.ci-cloud_outline:before {
  content: "\e940";
}
.ci-cloud_up:before {
  content: "\e941";
}
.ci-cloud:before {
  content: "\e942";
}
.ci-code:before {
  content: "\e943";
}
.ci-color:before {
  content: "\e944";
}
.ci-command:before {
  content: "\e945";
}
.ci-comment_check:before {
  content: "\e946";
}
.ci-comment_minus:before {
  content: "\e947";
}
.ci-comment_plus:before {
  content: "\e948";
}
.ci-comment:before {
  content: "\e949";
}
.ci-confused:before {
  content: "\e94a";
}
.ci-cookie:before {
  content: "\e94b";
}
.ci-coolicons:before {
  content: "\e94c";
}
.ci-copy:before {
  content: "\e94d";
}
.ci-credit_card_alt:before {
  content: "\e94e";
}
.ci-credit_card:before {
  content: "\e94f";
}
.ci-css3:before {
  content: "\e950";
}
.ci-cylinder:before {
  content: "\e951";
}
.ci-dashboard_02:before {
  content: "\e952";
}
.ci-dashboard:before {
  content: "\e953";
}
.ci-data:before {
  content: "\e954";
}
.ci-devices:before {
  content: "\e955";
}
.ci-discord:before {
  content: "\e956";
}
.ci-done_all:before {
  content: "\e957";
}
.ci-done:before {
  content: "\e958";
}
.ci-dot_01_xs:before {
  content: "\e959";
}
.ci-dot_02_s:before {
  content: "\e95a";
}
.ci-dot_03_m:before {
  content: "\e95b";
}
.ci-dot_04_l:before {
  content: "\e95c";
}
.ci-dot_05_xl:before {
  content: "\e95d";
}
.ci-doughnut_chart:before {
  content: "\e95e";
}
.ci-download_done:before {
  content: "\e95f";
}
.ci-download:before {
  content: "\e960";
}
.ci-dribbble:before {
  content: "\e961";
}
.ci-dropbox:before {
  content: "\e962";
}
.ci-edit:before {
  content: "\e963";
}
.ci-error_outline:before {
  content: "\e964";
}
.ci-error:before {
  content: "\e965";
}
.ci-exit:before {
  content: "\e966";
}
.ci-expand:before {
  content: "\e967";
}
.ci-external_link:before {
  content: "\e968";
}
.ci-facebook:before {
  content: "\e969";
}
.ci-fast_forward:before {
  content: "\e96a";
}
.ci-fast_rewind:before {
  content: "\e96b";
}
.ci-Figma:before {
  content: "\e96c";
}
.ci-file_archive:before {
  content: "\e96d";
}
.ci-file_blank_fill:before {
  content: "\e96e";
}
.ci-file_blank_outline:before {
  content: "\e96f";
}
.ci-file_css:before {
  content: "\e970";
}
.ci-file_find:before {
  content: "\e971";
}
.ci-file_html:before {
  content: "\e972";
}
.ci-file_image:before {
  content: "\e973";
}
.ci-file_jpg:before {
  content: "\e974";
}
.ci-file_js:before {
  content: "\e975";
}
.ci-file_minus:before {
  content: "\e976";
}
.ci-file_new:before {
  content: "\e977";
}
.ci-file_pdf:before {
  content: "\e978";
}
.ci-file_png:before {
  content: "\e979";
}
.ci-file_svg:before {
  content: "\e97a";
}
.ci-first_page:before {
  content: "\e97b";
}
.ci-flag_fill:before {
  content: "\e97c";
}
.ci-flag_outline:before {
  content: "\e97d";
}
.ci-folder_minus:before {
  content: "\e97e";
}
.ci-folder_open:before {
  content: "\e97f";
}
.ci-folder_plus:before {
  content: "\e980";
}
.ci-folder:before {
  content: "\e981";
}
.ci-github:before {
  content: "\e982";
}
.ci-google:before {
  content: "\e983";
}
.ci-grid_big_round:before {
  content: "\e984";
}
.ci-grid_big:before {
  content: "\e985";
}
.ci-grid_horizontal_round:before {
  content: "\e986";
}
.ci-grid_horizontal:before {
  content: "\e987";
}
.ci-grid_round:before {
  content: "\e988";
}
.ci-grid_small_round:before {
  content: "\e989";
}
.ci-grid_small:before {
  content: "\e98a";
}
.ci-grid_vertical_round:before {
  content: "\e98b";
}
.ci-grid_vertical:before {
  content: "\e98c";
}
.ci-grid:before {
  content: "\e98d";
}
.ci-hamburger:before {
  content: "\e98e";
}
.ci-happy:before {
  content: "\e98f";
}
.ci-heart_fill:before {
  content: "\e990";
}
.ci-heart_outline:before {
  content: "\e991";
}
.ci-help_circle_outline:before {
  content: "\e992";
}
.ci-help_circle:before {
  content: "\e993";
}
.ci-help_questionmark:before {
  content: "\e994";
}
.ci-hide:before {
  content: "\e995";
}
.ci-home_alt_check:before {
  content: "\e996";
}
.ci-home_alt_fill:before {
  content: "\e997";
}
.ci-home_alt_minus:before {
  content: "\e998";
}
.ci-home_alt_outline:before {
  content: "\e999";
}
.ci-home_alt_plus:before {
  content: "\e99a";
}
.ci-home_alt_x:before {
  content: "\e99b";
}
.ci-home_check:before {
  content: "\e99c";
}
.ci-home_fill:before {
  content: "\e99d";
}
.ci-home_heart-1:before {
  content: "\e99e";
}
.ci-home_heart:before {
  content: "\e99f";
}
.ci-home_minus:before {
  content: "\e9a0";
}
.ci-home_outline:before {
  content: "\e9a1";
}
.ci-home_plus:before {
  content: "\e9a2";
}
.ci-home_x:before {
  content: "\e9a3";
}
.ci-html5:before {
  content: "\e9a4";
}
.ci-id_card:before {
  content: "\e9a5";
}
.ci-image_alt:before {
  content: "\e9a6";
}
.ci-info_circle_outline:before {
  content: "\e9a7";
}
.ci-info_circle:before {
  content: "\e9a8";
}
.ci-info_square_outline:before {
  content: "\e9a9";
}
.ci-info_square:before {
  content: "\e9aa";
}
.ci-instagram:before {
  content: "\e9ab";
}
.ci-invision:before {
  content: "\e9ac";
}
.ci-javascript:before {
  content: "\e9ad";
}
.ci-label:before {
  content: "\e9ae";
}
.ci-laptop:before {
  content: "\e9af";
}
.ci-last_page:before {
  content: "\e9b0";
}
.ci-layers_alt:before {
  content: "\e9b1";
}
.ci-layers:before {
  content: "\e9b2";
}
.ci-line_chart_down:before {
  content: "\e9b3";
}
.ci-line_chart_up:before {
  content: "\e9b4";
}
.ci-line_l:before {
  content: "\e9b5";
}
.ci-line_m:before {
  content: "\e9b6";
}
.ci-line_s:before {
  content: "\e9b7";
}
.ci-line_sx:before {
  content: "\e9b8";
}
.ci-line_xl:before {
  content: "\e9b9";
}
.ci-link_02:before {
  content: "\e9ba";
}
.ci-link:before {
  content: "\e9bb";
}
.ci-LinkedIn:before {
  content: "\e9bc";
}
.ci-linkpath:before {
  content: "\e9bd";
}
.ci-list_check:before {
  content: "\e9be";
}
.ci-list_minus:before {
  content: "\e9bf";
}
.ci-list_ol:before {
  content: "\e9c0";
}
.ci-list_plus:before {
  content: "\e9c1";
}
.ci-list_ul:before {
  content: "\e9c2";
}
.ci-loading:before {
  content: "\e9c3";
}
.ci-location_outline:before {
  content: "\e9c4";
}
.ci-location:before {
  content: "\e9c5";
}
.ci-log_out:before {
  content: "\e9c6";
}
.ci-long_bottom_down:before {
  content: "\e9c7";
}
.ci-long_bottom_up:before {
  content: "\e9c8";
}
.ci-long_down:before {
  content: "\e9c9";
}
.ci-long_left:before {
  content: "\e9ca";
}
.ci-long_right:before {
  content: "\e9cb";
}
.ci-long_up_left:before {
  content: "\e9cc";
}
.ci-long_up_right:before {
  content: "\e9cd";
}
.ci-long_up:before {
  content: "\e9ce";
}
.ci-mail_open:before {
  content: "\e9cf";
}
.ci-mail:before {
  content: "\e9d0";
}
.ci-map:before {
  content: "\e9d1";
}
.ci-menu_alt_01:before {
  content: "\e9d2";
}
.ci-menu_alt_02:before {
  content: "\e9d3";
}
.ci-menu_alt_03:before {
  content: "\e9d4";
}
.ci-menu_alt_04:before {
  content: "\e9d5";
}
.ci-menu_alt_05:before {
  content: "\e9d6";
}
.ci-menu_duo:before {
  content: "\e9d7";
}
.ci-messenger:before {
  content: "\e9d8";
}
.ci-minus_circle_outline:before {
  content: "\e9d9";
}
.ci-minus_circle:before {
  content: "\e9da";
}
.ci-minus_square:before {
  content: "\e9db";
}
.ci-minus:before {
  content: "\e9dc";
}
.ci-mobile_alt:before {
  content: "\e9dd";
}
.ci-mobile:before {
  content: "\e9de";
}
.ci-monitor:before {
  content: "\e9df";
}
.ci-moon:before {
  content: "\e9e0";
}
.ci-more_horizontal:before {
  content: "\e9e1";
}
.ci-more_vertical:before {
  content: "\e9e2";
}
.ci-move_horizontal:before {
  content: "\e9e3";
}
.ci-move_vertical:before {
  content: "\e9e4";
}
.ci-move:before {
  content: "\e9e5";
}
.ci-note:before {
  content: "\e9e6";
}
.ci-notification_active:before {
  content: "\e9e7";
}
.ci-notification_deactivated:before {
  content: "\e9e8";
}
.ci-notification_dot:before {
  content: "\e9e9";
}
.ci-notification_minus:before {
  content: "\e9ea";
}
.ci-notification_outline_dot:before {
  content: "\e9eb";
}
.ci-notification_outline_minus:before {
  content: "\e9ec";
}
.ci-notification_outline_plus:before {
  content: "\e9ed";
}
.ci-notification_outline:before {
  content: "\e9ee";
}
.ci-notification_plus:before {
  content: "\e9ef";
}
.ci-notification:before {
  content: "\e9f0";
}
.ci-off_close:before {
  content: "\e9f1";
}
.ci-off_outline_close:before {
  content: "\e9f2";
}
.ci-path:before {
  content: "\e9f3";
}
.ci-pause_circle_filled:before {
  content: "\e9f4";
}
.ci-pause_circle_outline:before {
  content: "\e9f5";
}
.ci-paypal:before {
  content: "\e9f6";
}
.ci-phone:before {
  content: "\e9f7";
}
.ci-pie_chart_25:before {
  content: "\e9f8";
}
.ci-pie_chart_50:before {
  content: "\e9f9";
}
.ci-pie_chart_75:before {
  content: "\e9fa";
}
.ci-pie_chart_outline_25:before {
  content: "\e9fb";
}
.ci-pie_chart_outline:before {
  content: "\e9fc";
}
.ci-play_arrow:before {
  content: "\e9fd";
}
.ci-play_circle_filled:before {
  content: "\e9fe";
}
.ci-play_circle_outline:before {
  content: "\e9ff";
}
.ci-play_store:before {
  content: "\ea00";
}
.ci-plus_circle_outline:before {
  content: "\ea01";
}
.ci-plus_circle:before {
  content: "\ea02";
}
.ci-plus_square:before {
  content: "\ea03";
}
.ci-plus:before {
  content: "\ea04";
}
.ci-radio_filled:before {
  content: "\ea05";
}
.ci-radio:before {
  content: "\ea06";
}
.ci-reddit:before {
  content: "\ea07";
}
.ci-refresh_02:before {
  content: "\ea08";
}
.ci-refresh:before {
  content: "\ea09";
}
.ci-repeat:before {
  content: "\ea0a";
}
.ci-sad:before {
  content: "\ea0b";
}
.ci-search_small_minus:before {
  content: "\ea0c";
}
.ci-search_small_plus:before {
  content: "\ea0d";
}
.ci-search_small:before {
  content: "\ea0e";
}
.ci-search:before {
  content: "\ea0f";
}
.ci-select_multiple:before {
  content: "\ea10";
}
.ci-settings_filled:before {
  content: "\ea11";
}
.ci-settings_future:before {
  content: "\ea12";
}
.ci-settings:before {
  content: "\ea13";
}
.ci-share_outline:before {
  content: "\ea14";
}
.ci-share:before {
  content: "\ea15";
}
.ci-short_down:before {
  content: "\ea16";
}
.ci-short_left:before {
  content: "\ea17";
}
.ci-short_right:before {
  content: "\ea18";
}
.ci-short_up:before {
  content: "\ea19";
}
.ci-show:before {
  content: "\ea1a";
}
.ci-shrink:before {
  content: "\ea1b";
}
.ci-shuffle:before {
  content: "\ea1c";
}
.ci-Sketch:before {
  content: "\ea1d";
}
.ci-skip_next:before {
  content: "\ea1e";
}
.ci-skip_previous:before {
  content: "\ea1f";
}
.ci-slack:before {
  content: "\ea20";
}
.ci-slider_01:before {
  content: "\ea21";
}
.ci-slider_02:before {
  content: "\ea22";
}
.ci-slider_03:before {
  content: "\ea23";
}
.ci-small_long_down:before {
  content: "\ea24";
}
.ci-small_long_left:before {
  content: "\ea25";
}
.ci-small_long_right:before {
  content: "\ea26";
}
.ci-small_long_up:before {
  content: "\ea27";
}
.ci-snapchat:before {
  content: "\ea28";
}
.ci-spectrum:before {
  content: "\ea29";
}
.ci-spotify:before {
  content: "\ea2a";
}
.ci-stack_overflow:before {
  content: "\ea2b";
}
.ci-stopwatch:before {
  content: "\ea2c";
}
.ci-sub_left:before {
  content: "\ea2d";
}
.ci-sub_right:before {
  content: "\ea2e";
}
.ci-sun:before {
  content: "\ea2f";
}
.ci-tablet:before {
  content: "\ea30";
}
.ci-tag-outline:before {
  content: "\ea31";
}
.ci-tag:before {
  content: "\ea32";
}
.ci-terminal:before {
  content: "\ea33";
}
.ci-text_align_center:before {
  content: "\ea34";
}
.ci-text_align_justify:before {
  content: "\ea35";
}
.ci-text_align_left:before {
  content: "\ea36";
}
.ci-text_align_right:before {
  content: "\ea37";
}
.ci-thin_big_down:before {
  content: "\ea38";
}
.ci-thin_big_left:before {
  content: "\ea39";
}
.ci-thin_big_right:before {
  content: "\ea3a";
}
.ci-thin_big_up:before {
  content: "\ea3b";
}
.ci-thin_long_02_down:before {
  content: "\ea3c";
}
.ci-thin_long_02_left:before {
  content: "\ea3d";
}
.ci-thin_long_02_right:before {
  content: "\ea3e";
}
.ci-thin_long_02_up:before {
  content: "\ea3f";
}
.ci-thin_long_down:before {
  content: "\ea40";
}
.ci-thin_long_left:before {
  content: "\ea41";
}
.ci-thin_long_right:before {
  content: "\ea42";
}
.ci-thin_long_up:before {
  content: "\ea43";
}
.ci-transfer:before {
  content: "\ea44";
}
.ci-trash_empty:before {
  content: "\ea45";
}
.ci-trash_full:before {
  content: "\ea46";
}
.ci-trello:before {
  content: "\ea47";
}
.ci-trending_down:before {
  content: "\ea48";
}
.ci-trending_up:before {
  content: "\ea49";
}
.ci-twitter:before {
  content: "\ea4a";
}
.ci-unfold_less:before {
  content: "\ea4b";
}
.ci-unfold_more:before {
  content: "\ea4c";
}
.ci-unlink:before {
  content: "\ea4d";
}
.ci-unsplash:before {
  content: "\ea4e";
}
.ci-user_check:before {
  content: "\ea4f";
}
.ci-user_circle:before {
  content: "\ea50";
}
.ci-user_minus:before {
  content: "\ea51";
}
.ci-user_pin:before {
  content: "\ea52";
}
.ci-user_plus:before {
  content: "\ea53";
}
.ci-user_voice:before {
  content: "\ea54";
}
.ci-user_x:before {
  content: "\ea55";
}
.ci-user:before {
  content: "\ea56";
}
.ci-warning_outline:before {
  content: "\ea57";
}
.ci-warning:before {
  content: "\ea58";
}
.ci-window_check:before {
  content: "\ea59";
}
.ci-window_close:before {
  content: "\ea5a";
}
.ci-window_code_block:before {
  content: "\ea5b";
}
.ci-window_sidebar:before {
  content: "\ea5c";
}
.ci-window_terminal:before {
  content: "\ea5d";
}
.ci-window:before {
  content: "\ea5e";
}
.ci-youtube:before {
  content: "\ea5f";
}
